/* Сброс отступов */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Общие стили страницы */
body {
  min-width: 1100px;
  font-family: "Raleway", Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

/* Изображения */
img {
  display: block;
  width: 100%;
}

/* Списки */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Ссылки */
a {
  color: inherit;
  text-decoration: underline;
}

/* Кнопки */
button {
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
}

/* Адрес */
address {
  font-style: normal;
  line-height: 1.4;
}
