a {
    color: inherit;
    text-decoration: none;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    width: 100%;
    align-items: center;
    padding: 90px 50px;
    font-size: 18px;
    letter-spacing: 0;

    & .contacts {
        width: 240px;
        margin-left: auto;
    }

    & .logo {
        width: 140px;
    }
    & .navigation-list-item {
        &:nth-child(1) {
            & a {
                text-decoration: none;
            }
            list-style: none;
        }
        list-style: circle;
    }
}
.navigation .navigation-list {
    display: flex;
    gap: 0 32px;
    list-style: none;
}
.contacts {
    display: flex;
    font-style: normal;
    width: 264px;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.333em;
    letter-spacing: 0;
}
.underline {
    text-decoration: underline;
    text-underline-offset: 2px;
    /* border-bottom: 1px solid black; */
    /* height: fit-content; */
    /* padding-bottom: -2px; */
    display: inline;
}

.sections {
    display: flex;
    flex-direction: column;
    /* gap: 120px; */
    margin-bottom: 180px;
}

#main {
    height: 760px;
    margin-bottom: 180px;
    color: white;
    position: relative;

    &::before {
        content: "";
        display: block;
        background: url("../images/main.jpg") no-repeat center center;
        background-size: cover;
        filter: brightness(0.4);
        height: 760px;
        width: 100%;
        z-index: -10;
        position: absolute;
        inset: 0;
    }

    & h1 {
        padding: 165px 50px 0 50px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 100px;
        letter-spacing: 0.3em;
        line-height: 1.15em;
        gap: 21px;
        display: flex;
        flex-direction: column;
    }

    & .description {
        padding: 105px 50px 0 50px;
        display: flex;
        place-content: space-between;
        font-size: 22px;
        line-height: 1.273em;
        text-transform: uppercase;
        place-items: center;
        & p {
            display: flex;
            column-gap: 1.1em;
        }

        & button {
            padding: 12px 32px;
            font-weight: 500;
            background: transparent;
            border: 1px solid white;
            color: inherit;
            text-transform: inherit;
        }
    }
}

#lots {
    padding: 2px 24px;

    & .lot-label {
        margin-left: 40px;
        font-size: 20px;
    }
    & .lots-heading {
        text-transform: uppercase;
        font-size: 40px;
        font-style: bold;
        line-height: 1em;
    }
    & .lot-view-more {
        text-decoration: underline;
        text-underline-offset: 4px;
    }

    & .lots-gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 25px;
        margin: 30px 0;

        & .lot-card {
            position: relative;
            display: flex;
            flex-grow: 1;
            height: 596px;

            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background: no-repeat center center;
                background-size: cover;
                z-index: -10;

                filter: brightness(0.4);
            }
            &.card-lot-01::before {
                background-image: url("../images/photo1.png");
            }
            &.card-lot-02::before {
                background-image: url("../images/photo2.jpg");
            }
            &.card-lot-03::before {
                background-image: url("../images/photo3.png");
            }

            & .lot-card-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 48px 40px;
                width: 100%;
                height: 100%;

                color: white;
                & .lot-card-title {
                    text-transform: uppercase;
                    text-decoration: underline;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 1.2em;
                }
                & .lot-card-description {
                    font-size: 20px;
                    line-height: 1.2em;
                }
            }
        }
    }
}

#about {
    margin: 120px 24px 0 24px;
    display: flex;
    width: auto;

    & .logo-dark {
        background: #000;
        border-radius: 9999px;
        margin-top: 32px;
        margin-left: 47px;
        min-width: 240px;
        min-height: 240px;
        max-width: 240px;
        max-height: 240px;
        position: relative;

        & img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 148px;
        }
    }

    & .about-description {
        margin-top: 137px;
        margin-left: 72px;
        height: auto;
        & .about-title {
            text-transform: uppercase;
            font-size: 40px;
            font-weight: bold;
            line-height: 1em;
            margin-bottom: 100px;
        }
        & .about-text {
            display: flex;
            flex-direction: column;
            padding-top: 3px;
            & p {
                font-size: 20px;
                line-height: 1.2em;
                letter-spacing: 0;
                margin-bottom: 24px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.footer {
    display: flex;
    margin-bottom: 82px;
    width: 100%;
    place-content: space-between;
    padding: 0 50px;

    & .navigation-list {
        text-align: center;
        flex-direction: column;
        font-size: 18px;
        line-height: 1em;
        gap: 3px 0;
    }
}

.social-links {
    display: flex;
    gap: 0 48px;
    height: auto;
    width: 262px;
    padding-left: 22px;
}

.social-link-image {
    width: 48px;
    height: 48px;
}

.text-center {
    text-align: center;
    /* letter spacing fix */
    margin-left: 0.3em;
}

.text-right {
    text-align: right;
    /* letter spacing fix */
    margin-right: -0.3em;
}

.mr-5px {
    margin-right: 5px;
}