body {
  font-family: Raleway, sans-serif;
  color: #000;
}

a {
  color: inherit;
  text-decoration: underline;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 40px 50px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__logo-image {
  width: 100%;
}

.address {
  font-style: normal;
  line-height: 1.35;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background: url("../images/main.jpg") center / cover no-repeat;
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  z-index: 1;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

/* ДОБАВЛЕНО по методичке */
.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  margin-top: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
}

.lots {
  padding: 180px 50px 0;
}

.lots__heading {
  font-size: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
}

.card-link {
  text-decoration: none;
  height: 100%;
}

.card {
  position: relative;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  height: 100%;
}

.card_type_film {
  background: url("../images/photo1.png") center / cover no-repeat;
}

.card_type_book {
  background: url("../images/photo2.jpg") center / cover no-repeat;
}

.card_type_picture {
  background: url("../images/photo3.png") center / cover no-repeat;
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  text-decoration: underline;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  font-size: 20px;
  text-decoration: underline;
}

.about {
  padding: 180px 50px 0;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  margin: 100px 0 100px;
}

.about__text p:first-child {
  margin-bottom: 25px;
}

.footer {
  padding: 180px 50px 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
}
