.header {
  display: grid;
  align-items: start;
  grid-template-areas: "menu logo address";
  grid-template-columns: 1fr min-content 1fr;
  column-gap: 36px;
  padding: 92px 40px 96px 30px;
}

.header__menu {
  grid-area: menu;
  align-self: center;
  list-style: none;
  padding-bottom: 0px;
  gap: 13px;
}

.header__links-list {
  display: flex;
  list-style: none;
  list-style-position: 6px;
  padding-top: 0;
  margin: 0;
  gap: 13px;
}

.header__links-list-item {
  position: relative;
  padding-left: 20px;
}

.header__links-list-item::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  vertical-align: bottom;
}

.header__links-list-item_no-bullit::before {
  display: none;
}

.header__link {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.header__link_active {
  text-decoration: none;
  pointer-events: none;
}

.link-underline {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.header__logo {
  grid-area: logo;
  align-self: start;
  display: block;
  justify-self: center;
}

.header__logo-image {
  padding-left: 3px;
  display: block;
  width: 148px;
  height: 105px;
}

.header__phone,
.header__email {
  display: block;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__address {
  grid-area: address;
  align-self: start;
  justify-self: end;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 0.7;
  padding-right: 46px;
  padding-top: 10px;
}

.header__address-text {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px;
}

.header__address-line {
  display: inline-block;
  margin-top: 7px;
}

.cover {
  display: block;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/main.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 180px;
  height: 757px;
  padding-top: 1px;
}

.cover__title {
  padding-top: 172px;
  padding-left: 50px;
}

.aligned-text {
  display: block;
  color: #fff;
  font-weight: 800;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 1;
}

.text_center {
  padding-top: 35px;
  padding-right: 20px;
  text-align: center;
}

.text_right {
  text-align: right;
  padding-top: 35px;
  padding-right: 20px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 0 306px 62px 50px;
  text-transform: uppercase;
  letter-spacing: 0;
  align-items: center;
  padding-top: 114px;
}

.cover__description-text {
  display: flex;
  font-size: 22px;
  text-align: justify;
  color: #fff;
  word-spacing: 20px;
  font-weight: 50;
  flex-shrink: 0;
  width: 100%;
}

.letter-spacing-another {
  padding-left: 22px;
}

.letter-spacing-another_2 {
  padding-left: 23px;
}

.bet-button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 11px 32px;
  font-size: 22px;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bet-button:hover {
  background: #fff;
  color: #000;
}

.bet-button:active {
  background: rgba(255, 255, 255, 0.9);
}

.bet-button:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.lots {
  padding: 0 24px;
  margin-bottom: 120px;
}

.lots__heading {
  font-size: 40px;
  margin-bottom: 27px;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots__card-list {
  color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 48px 40px;
  background-size: cover;
  background-position: center;
}

.card__title {
  position: relative;
  z-index: 2;
  text-decoration: underline;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  margin-top: auto;
}

.card_type_film {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/photo1.png");
  background-size: cover;
}

.card_type_book {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/photo2.jpg");
  background-size: cover;
}

.card_type_picture {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/photo3.png");
  background-size: cover;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  padding-left: 40px;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 400;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 72px;
  align-items: start;
  margin: 0px 24px 180px;
  padding: 35px 0 0 47px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about__logo-image {
  width: 62%;
  height: auto;
}

.right__column {
  margin-top: 100px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 100px;
  margin-bottom: 100px;
}

.about__text p {
  font-size: 20px;
  margin: 0;
}

.about__text p:first-child {
  margin-bottom: 24px;
}

.no-wrap {
  white-space: nowrap;
}

.footer {
  display: grid;
  align-items: start;
  grid-template-areas: "address menu logo";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 2px 50px 0px;
}

.footer__phone,
.footer__email {
  display: block;
}

.footer__address {
  grid-area: address;
  font-style: normal;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.footer__address-text {
  display: block;
  margin-left: 1px;
  margin-top: 1px;
}

.footer__address-line {
  display: block;
  margin-left: 1px;
  margin-top: 1px;
}

.footer__menu {
  grid-area: menu;
  align-self: start;
  display: flex;
  justify-content: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  list-style-position: 6px;
  padding: 0;
  margin: 0;
}

.footer__menu-list-item {
  position: relative;
  align-self: center;
  white-space: nowrap;
  line-height: 1;
  font-size: 18px;
  padding-top: 2px;
}

.footer__link_2-line {
  display: inline-block;
  margin-top: 1px;
}

.footer__social-list {
  grid-area: logo;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding-top: 0;
  gap: 48px;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}